@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

body {
	font-family: 'Cormorant Garamond', Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
}
body {
  margin: 0px; 
}

.planet-info {
  position: absolute;
  
  p {
    font-size: 30px;
  }
  
  &:first-child {
    font-size: 36px;
  }
  
  
}



